<html>
        <head>  
        <title>{{ template "title" . }}</title>  
        </head>        

        <body>
            {{ template "menu" . }}
            {{ template "body" . }}

        <footer class="light-green-bg">
                {{ template "footer" . }}
        </footer>

    </body>
</html>

{{ define "body" }}
        Names:
{{ end }}

{{ define "title" }}DEFAULT TITLE{{ end }}

{{ define "footer" }}
FOOTER
        {{ end }}



{{ define "menu" }}

MENU

{{ end }}